body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
}

.left-sidebar,
.main,
.right-sidebar {
  height: 100%;
}

.main {
  box-sizing: border-box;
  flex: 1;
  padding: 0 50px;
}

.main-inner {
  box-sizing: border-box;
  padding: 300px 25px;
  background-color: #F7F7F7;
  height: 300px;
}

.left-sidebar,
.right-sidebar {
  background-color: #EEE;
  width: 250px;
  padding: 20px;
}

.relative-position {
  position: relative;
}
